.block
  %h3 Hint
  .content
    %p
      As long as your users have a unique hash that identifies them
      = succeed '' do
        %em within your service,
      you are fine, because users are registered and sent notifications based on the API keys used during authentication, which are unique on a per service basis