#block-text.block
  .content
    %h2.title Push to Devices
    .inner
      %p.first
        Welcome to Push To Devices. You define a number of different "services" (or just one if you wish) in the Services section and push iOS and Android notifications to your users via a REST API.
        %span.hightlight
          To start, go to Services up top and define a new Service now.
      %p
        %span.hightlight
          Don't forget that you must have .pem file for iOS push notifications and a GCM API key in order to push to your users.
      %p
        %span.hightlight
          You must also define a method of creating a unique for each user in your service so that your can send notifications to the right users.
      %p
        %span.gray
          If you have questions, ideas or contributions, don't hesitate to go to the
          =link_to("Github repo", "https://github.com/lloydmeta/push_to_devices")


-content_for :sidebar, partial("base/sidebar")
