.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active=link_to pat(:list), url(:users, :index)
  .content
    %h2.title
      =pat(:all)
      =mt(:users)
    .inner
      %table.table
        %tr
          %th.first=mat(:user, :unique_hash)
          %th=mat(:user, "Service (name)")
          %th=mat(:user, "Unsent notifications")
          %th=mat(:user, :created_at)
          %th.last="&nbsp;"
        -@users.each do |user|
          %tr
            %td.first=button_to user.unique_hash, url(:users, :show, :id => user.id), :method => :get, :class => :button_to
            %td=user.service.name
            %td=user.notifications.count
            %td=user.created_at
            %td.last
              =button_to pat(:edit), url(:users, :edit, :id => user.id), :method => :get, :class => :button_to
              ="|"
              =button_to pat(:delete), url(:users, :destroy, :id => user.id), :method => :delete, :class => :button_to, :onsubmit => "return confirm('#{pat(:confirm)}')"
      .actions-bar.wat-cf
        .actions="&nbsp;"
      =will_paginate @users

-content_for :sidebar, partial("base/sidebar")
